<div id="<%= dom_id involved_company %>">
  <p>
    <strong>Company:</strong>
    <%= involved_company.company_id %>
  </p>

  <p>
    <strong>Game:</strong>
    <%= involved_company.game_id %>
  </p>

  <p>
    <strong>Developer:</strong>
    <%= involved_company.developer %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= involved_company.publisher %>
  </p>

</div>
