<p style="color: green"><%= notice %></p>

<h1>Games</h1>
<%# 
<% if game.cover.attached? %>
          <%# <%= image_tag game.cover, class: "img-fit" %>  %>
  <%# <%end%> %> %>
<%= link_to "New game", new_game_path %>

<div id="games">
  <% @games.each do |game| %>
    <%= render game %>
    <p>
      <%= link_to "Show this game", game %>
    </p>
    <p>
    <%= link_to 'Edit', edit_game_path(game) %>
    </p>
    <p>
    <%= link_to 'Destroy', game, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
    </p>
  <% end %>
</div>

