<section class="section">
  <div class="container">
    <div class="flex flex-column gap-4 content-lg">
    <% if @game.cover.attached? %> 
      <div>
      <%= image_tag @game.cover, alt: "Image to #{@game.name}" %> 
      </div>
      <% else %> 
      <div>
     <%= image_tag "empty.png", alt: "Empty image", class: "img-game" %> 
     </div>
    <% end%>
      <div>
        <%= @game.name %>
      </div>

      <div>
        <%= @game.release_date.year %>
      </div>

      <div>
        <%= @game.rating %>
      </div>

    <h1 class="heading">Game details</h1>

      <div>
        <%= @game.summary %>
      </div>

      <div>
        <strong>Genres:</strong>
        <ul>
          <% @game.genres.each do |genre| %>
          <li><%= genre.name%> | <%= link_to 'remove', remove_genre_game_path(@game, genre_id: genre.id), data: { turbo_method: :delete }  %></li>
          <% end %>
        </ul>
      </div>

      <div>
        <strong>Platforms:</strong>
        <ul>
          <% @game.platforms.each do |platform| %>
          <li><%= platform.name%> | <%= link_to 'remove', remove_platform_game_path(@game, platform_id: platform.id), data: { turbo_method: :delete }  %></li>
          <% end %>
        </ul>
        <strong>Developers:</strong>
        <% @game.involved_companies.each do |developer| %>
          <%= developer.name %> 
          <% end %>
      </div>
        <strong>Add relations:</strong>
      <div>
        <ul>
          <li>
            <%= form_with(url: add_genre_game_path(@game), class: "flex flex-column gap-4 flex-row") do |form| %>
              <div class="flex gap-4">
                <div class="select">
                  <%= form.collection_select :genre_id, (Genre.all - @game.genres), :id, :name, { prompt: true }, { class: "select__input" } %>
                </div>
              </div>
              <%= form.submit "Add genre", class: "button button--primary fit-content" %>
            <% end %>
          </li>
          </ul>
          <ul>
          <li>
            <%= form_with(url: add_platform_game_path(@game), class: "flex flex-column gap-4 flex-row") do |form| %>
              <div class="flex gap-4">
                <div class="select">
                  <%= form.collection_select :platform_id, (Platform.all - @game.platforms), :id, :name, { prompt: true }, { class: "select__input" } %>
                </div>
              </div>
              <%= form.submit "Add platform", class: "button button--primary fit-content" %>
            <% end %>
          </li>
          </ul>
        <%= link_to 'Edit', edit_game_path(@game) %> |
        <%= link_to 'Back', games_path %>
      </div>
    </div>
  </div>
</section>


