<h1>Companies</h1>

<%= link_to "New company", new_company_path %>

<div>
  <% @companies.each do |company| %>
    <%# <%= render company %> 

    <% if company.cover.attached? %>  
     <div><%= image_tag company.cover %></div>
    <% end %> 
    <div><%= company.name %></div>
    <% if company.start_date %>
    <p> <%= company.start_date.strftime("%Y") %>-<%=company.country %></p>
    <% end %>

    <div><%= company.description %></div>
    <p><%= company.games.count %> Games </p>

    <p><%= link_to "Show", company %></p>
    <p><%= link_to "Edit", edit_company_path(company) %></p>
    <p><%= link_to "destroy", company, data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
       } %></p>
  
  <% end %>
</div>


