<p style="color: green"><%= notice %></p>

<%= render @company %>

<div>
  <%= link_to "Edit company", edit_company_path(@company) %> |
  
  <%= link_to "Back", companies_path %>

  <%= button_to "Destroy", @company, method: :delete %>
</div>
